@model IEnumerable<GraduateWork.Models.ProjectColumn>
@{
    ViewData["Title"] = "Board Page";
    var project_id = Model.First().ProjectId;
}
<style>
    body {
        background-color: #B8BAC8;
    }
</style>
<div id="issueTable"></div>
<div id="sprintTable"></div>
<div id="endSprintTable"></div>
<div class="wrapper-container">
    <header class="header">
        <nav class="nav-menu">
            <ul class="menu">
                <li class="menu-li">
                    <a class="innerText" data-toggle="modal" data-target="#addSprint" onclick="addSprint()">Create Sprint</a>
                </li>
                <li class="menu-li">
                    <a class="innerText" data-toggle="modal" data-target="#addIssue" onclick="addIssue()">Create Issue</a>
                </li>
                <li class="menu-li">
                    <a class="innerText" asp-action="ManageUsers" asp-route-id="@project_id">ManageUsers</a>
                </li>
            </ul>
            <ul class="menu">
                <li class="menu-li">
                    <a class="innerText" data-toggle="modal" data-target="#endSprint" onclick="endSprint(@project_id)">End Sprint</a>
                </li>
                <li class="menu-li">
                    <a class="innerText" asp-action="SprintStatistic" asp-route-id="1">Sprint Statistic</a>
                </li>
            </ul>
            <ul class="menu">
                <li class="menu-li">
                    <select class="innerText">
                        @foreach (Sprint sprint in ViewBag.Sprint)
                        {
                            <option>
                                <a asp-action="Board" asp-route-id="@project_id" asp-route-sprintId="@sprint.Id">
                                    @sprint.Name
                                </a>
                            </option> 
                        }
                        
                    </select>
                </li>
                <li class="menu-li">
                    <a class="innerText" asp-action="ProjectStatistic" asp-route-id="@project_id">Project Statistic</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="main-container">
        @foreach (var column in Model)
        {
            <div class="container-item">
                <span class="column-title">@Html.DisplayFor(col => column.Name)</span>
                <div class="column-tasks">
                    @foreach (var issue in column.Issues)
                    {
                        <div class="task-wrapper">
                            <a data-toggle="modal" data-target="#addIssue" onclick="addIssue(@issue.Id)" style="cursor:pointer">
                                <span class="taskFill"></span>
                                <p class="innerText">
                                    @Html.DisplayFor(modelItem => issue.Title)
                                </p>
                            </a>
                        </div>
                    }
                    <div class="task-wrapper">
                        <a data-toggle="modal" data-target="#addIssue" onclick="addIssue()" style="cursor:pointer">
                            <span class="taskFill">
                                <svg width="90" height="90" viewBox="0 0 115 115" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                    <path d="M49.5 0H64.8827V49.9906H114.5V64.9906H64.8827V114.991H49.7942V64.9906H0V49.9906H49.5V0Z"
                                      fill="blueviolet" />
                                </svg>
                            </span>

                            <p class="innerText">
                                Create new Issue
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function addIssue(id) {
        $.ajax({
            type: "Get",
            url: "/Issues/CreateOrEdit" + (id ? "?id=" + id : ""),
            success: function (result) {
                $("#issueTable").html(result);
                $("#addIssue").modal('show');
            }
        });
    }

    function addSprint(id) {
        $.ajax({
            type: "Get",
            url: "/Sprints/CreateOrEdit" + (id ? "?id=" + id : ""),
            success: function (result) {
                $("#sprintTable").html(result);
                $("#addSprint").modal('show');
            }
        });
    }

    function endSprint(id) {
        $.ajax({
            type: "Get",
            url: "/Home/EndSprint?Id=" + id,
            success: function (result) {
                $("#endSprintTable").html(result);
                $("#endSprint").modal('show');
            }
        });
    }

</script>
