@model IEnumerable<GraduateWork.Models.ProjectColumn>
@{
    ViewData["Title"] = "Board Page";
    var project_id = Model.First().ProjectId;
}
<style>
    body {
        background-color: #B8BAC8;
    }
</style>
<div id="issueTable"></div>
<div id="sprintTable"></div>
<div id="endSprintTable"></div>
<div class="wrapper-container">
    <header class="header">
        <nav class="nav-menu">
            <ul class="menu">
                <li class="menu-li">
                    <a class="innerText" data-toggle="modal" data-target="#addSprint" onclick="addSprint()">Create Sprint</a>
                </li>
                <li class="menu-li">
                    <a class="innerText" data-toggle="modal" data-target="#addIssue" onclick="addIssue(null, @project_id)">Create Issue</a>
                </li>
                <li class="menu-li">
                    <a class="innerText" asp-action="ManageUsers" asp-route-id="@project_id">ManageUsers</a>
                </li>
            </ul>
            <ul class="menu">
                <li class="menu-li">
                    <a class="innerText" data-toggle="modal" data-target="#endSprint" onclick="endSprint(@project_id)">End Sprint</a>
                </li>
                <li class="menu-li">
                    <button id="statisticButton" class="innerText" asp-action="SprintStatistic" asp-route-id="null">Sprint Statistic</button>
                </li>
            </ul>
            <ul class="menu">
                <li class="menu-li" style="display:flex; width:26%;">
                    <select id="sprintList" class="innerText">
                        <option value="null">Choose sprint</option>
                        @foreach (Sprint sprint in ViewBag.Sprint)
                        {
                            <option value="@sprint.Id">@sprint.Name</option>
                        }

                    </select>
                    <button id="boardButton" class="innerText" asp-action="Board" asp-route-id="@project_id" asp-route-sprintId="null">Go to Board</button>
                </li>
                <li class="menu-li">
                    <a class="innerText" asp-action="ProjectStatistic" asp-route-id="@project_id">Project Statistic</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="main-container">
        @foreach (var column in Model)
        {
            <div class="container-item">
                <span class="column-title">@Html.DisplayFor(col => column.Name)</span>
                <div class="column-tasks">
                    @foreach (var issue in column.Issues)
                    {
                        <div class="task-wrapper">
                            <a data-toggle="modal" data-target="#addIssue" onclick="addIssue(@issue.Id, @project_id)" style="cursor:pointer">
                                <span class="taskFill"></span>
                                <p class="innerText">
                                    @Html.DisplayFor(modelItem => issue.Title)
                                </p>
                            </a>
                        </div>
                    }
                    <div class="task-wrapper">
                        <a data-toggle="modal" data-target="#addIssue" onclick="addIssue(null, @project_id)" style="cursor:pointer">
                            <span class="taskFill">
                                <svg width="90" height="90" viewBox="0 0 115 115" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                    <path d="M49.5 0H64.8827V49.9906H114.5V64.9906H64.8827V114.991H49.7942V64.9906H0V49.9906H49.5V0Z"
                                      fill="blueviolet" />
                                </svg>
                            </span>

                            <p class="innerText">
                                Create new Issue
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    document.getElementById('boardButton').addEventListener('click', function () {
        var sprintId = document.getElementById('sprintList').value;
        var url = '/Home/Board?Id=@project_id&sprintId=' + sprintId;
        window.location.href = url;
    });
    
    document.getElementById('statisticButton').addEventListener('click', function () {
        var sprintId = document.getElementById('sprintList').value;
        var url = '/Home/SprintStatistic?Id=' + sprintId;
        window.location.href = url;
    });

    function addIssue(id, project_id) {
        var url = "";
        if(id == null){
            var url = "/Issues/CreateOrEdit" + "?project_id=" + project_id;
        }else{
            var url = "/Issues/CreateOrEdit" + "?id=" + id + "&project_id=" + project_id;
        }

        $.ajax({
            type: "Get",
            url: url,
            //url: "/Issues/CreateOrEdit" + (id ? "?id=" + id + "&project_id=" + project_id : "&project_id=" + project_id),
            success: function (result) {
                $("#issueTable").html(result);
                $("#addIssue").modal('show');
            }
        });
    }

    function addSprint(id) {
        $.ajax({
            type: "Get",
            url: "/Sprints/CreateOrEdit" + (id ? "?id=" + id : ""),
            success: function (result) {
                $("#sprintTable").html(result);
                $("#addSprint").modal('show');
            }
        });
    }

    function endSprint(id) {
        $.ajax({
            type: "Get",
            url: "/Home/EndSprint?Id=" + id,
            success: function (result) {
                $("#endSprintTable").html(result);
                $("#endSprint").modal('show');
            }
        });
    }

</script>
